.Main-content{
    margin-left:345px;
}

/*header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    top: 0;
    z-index: 100;
}


header h2{
    color:var(--text-color);
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}*/

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;

}

.user-wrapper h4{
    color:var(--text-color);
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block;
    color:var(--text-color);
    margin-top: -10px !important;
}

main {
    margin-top: 3px;
    padding: 2rem 3rem;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: var(--cards);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 20px;
}

.card-single div:last-child span{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.card-single div:first-child span{
    color: var(gray);
}

.card-single:last-child{
    background-color: rgb(197, 104, 255);
}

.card-single:last-child h1{
    color: #fff;
}

.card-single:last-child div:first-child span{
    color: #fff;
}

.card-single:last-child div:last-child span{
    color: #fff;
}

.icones::before{
    font-size: 40px;
}

.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card{
    /*background: #fff;
    border-radius: 5px;*/
}

.card-header,
.card-body{
        padding: 1rem;
        background: var(--primary-color-light);
        border-radius: 0 0 20px 20px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid #f0f0f0;
    background: var(--primary-color-light);
}

.card-header h3{
   color:var(--text-color);
}

.card-header button{
    background: rgb(197, 104, 255);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid rgb(197, 104, 255);
}

table{
    border-collapse: collapse;
    background: var(--primary-color-light);
    
}

thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td{
    font-weight: 700;
}

td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color:var(--text-color);
}

td .status{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: red;
    margin-right: 1rem;
}

tr td:last-child{
    display: flex;
    align-items: center;
}

.status.purple{
    background: rebeccapurple;
}

.status.pink{
    background: deeppink;
}

.status.orange{
    background: orangered;
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
    border-radius: 0 0 20px 20px;
}

.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info{
    display: flex;
    align-items: center;
}

.info img{
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4{
    font-size: .8rem;
    font-weight: 700;
    color: var(--text-color);
}

.info small{
    font-weight: 600;
    color:rgb(197, 104, 255);
}
.contact span {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: rgb(197, 104, 255);;

}

.fa-user{
    color: var(--text-color);
}

.fa-message{
    color: var(--text-color);
}

.fa-phone{
    color: var(--text-color);
}


