/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', "Montserrat", sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #252525;
    --cards: #FFFFFF;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #212122;
    --sidebar-color: #141414;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3a3a;
    --toggle-color: #fff;
    --text-color: rgb(226, 226, 226);
    --cards: #4e4e4e;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .HorizontalNavbar{
    display: flex;
    justify-content: space-between;
    padding: 12px 60px;
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.home .h2_Section{
    padding: 12px 60px;
    color: var(--text-color);
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

body.dark .home .h2_Section{
    padding: 12px 60px;
    color: var(--text-color);
}

.Main-content{
    margin-left:345px;
}

/*header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    top: 0;
    z-index: 100;
}


header h2{
    color:var(--text-color);
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}*/

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;

}

.user-wrapper h4{
    color:var(--text-color);
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block;
    color:var(--text-color);
    margin-top: -10px !important;
}

main {
    margin-top: 3px;
    padding: 2rem 3rem;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: var(--cards);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 20px;
}

.card-single div:last-child span{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.card-single div:first-child span{
    color: var(gray);
}

.card-single:last-child{
    background-color: rgb(197, 104, 255);
}

.card-single:last-child h1{
    color: #fff;
}

.card-single:last-child div:first-child span{
    color: #fff;
}

.card-single:last-child div:last-child span{
    color: #fff;
}

.icones::before{
    font-size: 40px;
}

.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card{
    /*background: #fff;
    border-radius: 5px;*/
}

.card-header,
.card-body{
        padding: 1rem;
        background: var(--primary-color-light);
        border-radius: 0 0 20px 20px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid #f0f0f0;
    background: var(--primary-color-light);
}

.card-header h3{
   color:var(--text-color);
}

.card-header button{
    background: rgb(197, 104, 255);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid rgb(197, 104, 255);
}

table{
    border-collapse: collapse;
    background: var(--primary-color-light);
    
}

thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td{
    font-weight: 700;
}

td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color:var(--text-color);
}

td .status{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: red;
    margin-right: 1rem;
}

tr td:last-child{
    display: flex;
    align-items: center;
}

.status.purple{
    background: rebeccapurple;
}

.status.pink{
    background: deeppink;
}

.status.orange{
    background: orangered;
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
    border-radius: 0 0 20px 20px;
}

.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info{
    display: flex;
    align-items: center;
}

.info img{
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4{
    font-size: .8rem;
    font-weight: 700;
    color: var(--text-color);
}

.info small{
    font-weight: 600;
    color:rgb(197, 104, 255);
}
.contact span {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: rgb(197, 104, 255);;

}

.fa-user{
    color: var(--text-color);
}

.fa-message{
    color: var(--text-color);
}

.fa-phone{
    color: var(--text-color);
}


